.container {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  padding: 0.65rem 1rem;
  cursor: pointer;
}

.containerActive {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #fc4c0220;
  border-radius: 0.5rem;
  padding: calc(0.65rem - 1px) calc(1rem - 1px);
  border: 1px solid #fc4c0260;
}

.iconContainer {
  flex: 0 1 3rem;
  background: #fc4c02;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.contentColumn {
  flex: 1 1 auto;
}

.title {
  color: var(--primary-font-color);
  font-weight: 600;
}

.titleRow {
  display: flex;
  justify-content: space-between;
}

.statsRow {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.statsItem:first-of-type {
  margin-left: 0;
}

.statsItem:last-of-type {
  margin-right: 0;
}
