.container {
  margin: 2rem 0 2rem 2rem;
  width: 27%;
  min-width: 30rem;
  max-width: 50rem;
  height: calc(100vh - 9rem);
  padding: 2.5rem;
  z-index: 100;
  position: absolute;
  border-radius: 0.5rem;
  background: #fff;
}

.subheader {
  margin-top: 1.3rem;
}

.contentContainer {
  height: calc(100% - 7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connectStravaLabel {
  margin-bottom: 0.5rem;
}

.footerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem 0;
}

.spacer {
  margin: 0 0.5rem;
}

.stravaFooter {
  height: 2rem;
}
