.container {
  margin: 2rem 0 2rem 2rem;
  width: 27%;
  min-width: 30rem;
  max-width: 50rem;
  height: calc(100vh - 7.5rem);
  padding: 2rem 1rem 0.5rem 1rem;
  z-index: 100;
  position: absolute;
  border-radius: 0.5rem;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr min-content;
}

.title {
  margin-left: 0.5rem;
}

.subheader {
  margin-left: 0.5rem;
  margin-top: 1.3rem;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingContainer {
  display: grid;
  place-items: center;
}

.filterContainer {
  padding: 0rem 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;

  .sortContainer {
    display: flex;

    p {
      margin-right: 0.4rem;
    }

    .sortIcon {
      margin-left: 0.4rem;
      font-size: 1rem;
      cursor: pointer;
      color: var(--accent-color-orange);
    }
  }
}

.contentContainer {
  height: 100%;
  overflow-y: scroll;
}

.connectStravaLabel {
  margin-bottom: 0.5rem;
}

.footerRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  margin: 0 0.5rem;
}

.stravaFooter {
  height: 2rem;
}
