.statsItem {
  display: flex;
  align-items: center;

  .statsIcon {
    font-size: 1rem;
    margin-right: 0.2rem;
    color: var(--secondary-font-color);
  }
  p {
    color: var(--primary-font-color);
  }
}
