.mapContainer {
  height: 100vh;
  width: 100vw;
}

.controlRow {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 10rem;
  width: 1rem;
  z-index: 1;
}

.controlBox {
  height: 2rem;
  width: 2rem;
  background: #fff;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
